@font-face {
    font-family: "Bariol";
    src: url(Bariol_Regular.otf);
}

body {
    background-image: url(Metsä/SS\ metsäkuva.jpg);
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
header {
    background-color: #587710; 
}
h1 {
    font-family: "Bariol";
    text-align: center;
    margin: 0;
}
button {
    margin-left: 100px;
    margin-bottom: 10px;
} 
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: "Bariol";
    background-color: #FCFAF2;
    color: #7F7F7F;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
 